---
---

@import "{{ site.theme }}";

body {
  background-color : #841617;
  color : #FDF9D8
}

h1 {
  color : #FDF9D8
}

h2 {
  color : #FDF9D8
}

h3 {
  color : #FDF9D8
}

h4 {
  color : #FDF9D8
}

h5 {
  color : #FDF9D8
}
