---
---

@import "{{ site.theme }}";

body {
  background-color : #841617;
  color : #ffffff
}

h1 {
  color : #ffffff
}

h2 {
  color : #ffffff
}

h3 {
  color : #ffffff
}

h4 {
  color : #ffffff
}

h5 {
  color : #ffffff
}
